div
  .container
    .page-header
      h1.page-title {{this.$t('notifications.page_title')}} #[strong ({{totalElements}} elementów)]
      .page-options.d-flex
        select.form-control.custom-select.w-auto(v-model='numberOfElements')
          option(value='5') 5
          option(value='10') 10
          option(value='15') 15
          option(value='25') 25
          option(value='50') 50
          option(value='100') 100
    .card
      .dimmer.active.m-8(v-if="loading")
        .loader
      .table-responsive(v-else)
        table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
          tbody(v-for="(notification, index) in notifications", v-if="index <= numberOfElements")
            tr
              td.text-center(style="width: 1%")
                .avatar.d-block.text-center(v-if="notification.senderName === 'Coachy'", :style="{'background-image': `url(${logo})`}")
                span.avatar.d-block.avatar-blue.text-center(v-else-if="notification.senderAvatar === null") {{getInitials(notification.senderName)}}
                .avatar.d-block.text-center(v-else, :style="{'background-image': `url(${notification.senderAvatar})`}")
              td(style="width: 10%")
                div {{notification.senderName}}
                  .small.text-muted
                    | {{$t('notifications.sent_date')}} {{notification.createdAt | moment}}
              td
                .small.text-muted {{$t('notifications.content')}}
                div(v-if="notification.type === 'SCHEDULE_REQUEST'") {{$t('notifications.schedule-alert-1')}} #[strong {{notification.senderName}}] {{$t('notifications.schedule-alert-2')}}
                div(v-else) {{notification.content}}
              td(style="width: 1%")
                template(v-if="notification.type !== 'ALERT'")
                  button.btn.btn-icon.btn-primary.btn-secondary(type='button', @click="accept(notification.content)")
                    i.fe.fe-check
                  button.btn.btn-icon.btn-primary.btn-secondary.ml-1(type='button', @click="reject(notification.content)")
                    i.fe.fe-x
    .btn-list.text-right.mb-5(v-if="totalPages > 1")
      router-link.btn.btn-secondary(:to="`?page=${parsedPage - 1}`", tag="button" :disabled="isFirst") {{$t('notifications.previous')}}
      router-link.btn.m-0.mb-2(:class="{'btn-secondary': parsedPage !== 1, 'btn-primary': parsedPage === 1}", :to="`?page=1`") 1

      template(v-if="parsedPage > 2 && parsedPage + 1 < totalPages")
        router-link.btn.btn-secondary.m-0.mb-2(:to="`?page=${parsedPage - 1}`") {{parsedPage - 1}}
        router-link.btn.btn-primary.m-0.mb-2(:to="`?page=${page}`") {{page}}
        router-link.btn.btn-secondary.m-0.mb-2(:to="`?page=${parsedPage + 1}`") {{parsedPage + 1}}
      template(v-else-if="parsedPage > 1 && parsedPage < totalPages")
        router-link.btn.btn-primary.m-0.mb-2(:to="`?page=${page}`") {{page}}

      router-link.btn.m-0.mb-2(:class="{'btn-secondary': parsedPage !== totalPages, 'btn-primary': parsedPage === totalPages}", :to="`?page=${totalPages}`") {{totalPages}}
      router-link.btn.btn-secondary(:to="`?page=${parsedPage + 1}`", tag="button" :disabled="isLast").ml-2 {{$t('notifications.next')}}
